.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.navLink{
    text-decoration: none;
    color: #08060d;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    
}

.active{
    color: #373333;
}

.navLinks{
    text-decoration: none;
    color: #08060d;
    font-weight: bold;
    top : 10px;
    left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    
}


.navLink:hover{
    color: #707070;
    
}   