.taskLink {
    text-decoration: none; 
    color: inherit;       
    display: block;
}   

.taskPriority{
    border-radius: 10px;
    color: rgb(238, 45, 45);
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}


.taskItem {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(51, 43, 43, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    background-color: rgb(239, 223, 197);
    text-decoration: none;
    position: relative;
}

.taskItem:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.taskCategory {
    color: #2c3e50;
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    border-radius: 10px;
    background-color: #f2f3f4;
    color: #2c3e50;

}

.taskItem h3 {
    margin: 0;
    color: #2c3e50;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-decoration: none;
}

.taskItem span {
    color: #5d6d7e;
    font-size: 0.95rem;
    line-height: 1.4;
}

/* Style spécifique pour la date */
.taskItem span:last-child {
    font-size: 0.8rem;
    color: #abb2b9;
    font-style: italic;
    margin-top: 0.5rem;
    border-top: 1px solid #f2f3f4;
    padding-top: 0.5rem;
}